<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinglongyhy.fang.mapper.Label2houseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yinglongyhy.fang.entity.Label2houseInfo">
        <id column="id" property="id" />
        <result column="label" property="label" />
        <result column="house_info" property="houseInfo" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
